{% extends 'base.html' %}
{% block sub_content %}
{% if conversations %}
<div id="w">
  <h1>Threaded Comments Block</h1>

  <div id="container">
    <ul id="comments">
      {% for conversation in conversations %}
      <li class="cmmnt">
        <div class="avatar"><a href="javascript:void(0);"><img src="./images/avatar.png" width="55" height="55" alt="Avatar"></a></div>
        <div class="cmmnt-content">
          <header><a href="javascript:void(0);" class="userlink">DarkCubes</a> - <span class="pubdate">posted on {{ conversation["conv_logtime"] }}</span></header>
          <p>{{ question | safe}}</p>
        </div>
        {% for replies in conversation["replies"] %}
        <ul class="replies">
          <li class="cmmnt">
            <div class="avatar"><a href="javascript:void(0);"><img src="./images/avatar.png" width="55" height="55" alt="Avatar"></a></div>
            <div class="cmmnt-content">
            <header><a href="javascript:void(0);" class="userlink">{{replies["user_email"]}}</a> - <span class="pubdate">posted on {{ replies["reply_logtime"] }}</span></header>
            <p>{{ replies["reply"] | safe}}</p>
            </div>
          </li>
        </ul>
        {% endfor %}
      </li>
      {% endfor %}

    </ul>
  </div>
</div>

{% else %}
  <h3> No blogs have been written yet </h3>
{% endif %}
{% endblock %}
