#image-container {
  position: absolute;
  /* top: 40%; */
  right: 10px;
}

#question {
  text-align: center;
}
    div.polaroid {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
    }
    div.container {
       margin-left:200px;
      /* text-align: left; */
      padding: 10px 20px;
    }
    /* Chat containers */
    .container {
      border: 2px solid #dedede;
      background-color: #f1f1f1;
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0;
    }

    /* Darker chat container */
    .darker {
      border-color: #ccc;
      background-color: #ddd;
    }

    /* Clear floats */
    .container::after {
      content: "";
      clear: both;
      display: table;
    }

    /* Style images */
    .container img {
      float: left;
      max-width: 60px;
      width: 100%;
      margin-right: 20px;
      border-radius: 50%;
    }

    /* Style the right image */
    .container img.right {
      float: right;
      margin-left: 20px;
      margin-right:0;
    }

    /* Style time text */
    .time-right {
      float: right;
      color: #aaa;
    }

    /* Style time text */
    .time-left {
      float: left;
      color: #999;
    }

    /* threaded comments html */



    /* threaded html 2 */
    .upp-comments {
      margin: 40px 0;
      padding-left: 10%;
    }

    .upp-comment {
      margin: 40px 0;
    }

    .upp-comments > .upp-comment {}

    .upp-com-auth {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 20px 0;
    }

    .upp-com-auth .img-person,
    .upp-com-auth-name,
    .upp-com-auth-ts {
      margin-right: 15px;
    }

    .upp-com-auth-ts {
      color: #777;
      font-size: 0.9rem;
    }

    .upp-com-replies {
      border-left: 2px solid #dedede;
      padding: 0 0 0 25px;
      margin: 20px 0 0 40px;
    }


    /* Comment Box */

    .upp-comment-box {
      padding-top: 10px;
      display: flex;
      padding-left: 10%;
    }

    .upp-comment-box-avatar {
      min-width: 64px;
    }

    .upp-comment-box-avatar img,
    .upp-comment-box-avatar a {
      padding: 0;
    }

    .upp-comment-box-avatar img {
      width: 46px;
      height: 46px;
      object-fit: cover;
      border-radius: 50%;
      margin: 5px 15px 0 0;
    }

    .upp-comment-box-comm {
      width: 100%;
      display: flex;
      flex-direction: column;
      border: 1px solid #dedede
    }

    .upp-comment-box-comm-ent {
      width: 100%
    }

    .upp-comment-box-comm-ent-ta {
      width: 100%;
      min-height: 50px;
      max-height: 100px;
      cursor: text;
      box-sizing: border-box;
      border-radius: 0;
      line-height: 1.25rem;
      padding: 15px;
      margin: 0;
      border: none;
      box-shadow: none;
      background-color: transparent;
      resize: none;
      outline: none;
    }

    .upp-comment-box-comm-ent-ta:focus {
      resize: none;
      outline: none;
      border: none;
      box-shadow: none;
    }

    .upp-comment-box-comm-actions {
      width: 100%;
      border-top: 1px solid #eee;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .upp-comment-box-comm-actions-meta {
      padding: 5px 10px;
    	color: #777;
    }

    .upp-comment-box-comm-word-count {
      font-size: 0.9rem;
      padding-right: 10px;
    }

    .upp-comment-box-comm-actions-action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2px 10px;
    }

    .upp-img-person {
      width: 42px;
      height: 42px;
      min-width: 42px;
      min-height: 42px;
      border-radius: 50%;
      object-fit: cover !important;
    	margin-right: 10px;
    }

    .upp-btn {
    	background:  #0190D4;
    	color: #FFF;
    	padding: 5px 10px;
    	text-decoration: none;
    	cursor: pointer;
    }
    .upp-btn:hover {
    	opacity: 0.9;
    }

    .upp-small {
    	font-size: 0.9rem;
    }

    /* Radio Buttons */

You should use radiobuttons in this way.

Hide code snippet

body {
	font-family: sans-serif;
	font-weight: normal;
	margin: 10px;
	color: #999;
	background-color: #eee;
}

form.conversation {
	margin: 40px 0;
}

div.conv {
	clear: both;
	margin: 0 50px;
}

label.conv {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}

input.radio:empty {
	margin-left: -999px;
}

input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
	color: #888;
}

input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}

input.radio:checked ~ label {
	color: #777;
}

input.radio:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}

.imgDiv {
  position: absolute;
  top: 30%;
  right: 10px;
}

#image {
  width: 400px;
  height: 300px;
}
